@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,400;9..144,500;9..144,600;9..144,700;9..144,800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fraunces', serif;


}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.header-item{
    width: 25%;
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
    
}

.herader-list {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 1;
    color: #83888F;
    text-decoration: none;
    text-transform: uppercase;
}