html {
	box-sizing: border-box;
}
*,
*::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 5px;
}

.header {
	height: 120px;
	padding-top: 50px;
}
.flex {
	display: flex;
	align-items: center;
}
.site-nav__link {
	text-decoration: none;
	font-size: 16px;
	color: #222;
}
.site-nav__logo {
	margin-right: auto;
	font-size: 24px;
	color: black;
}
.site-nav__list {
	width: 35%;
	justify-content: space-between;
}
.site-nav__item {
	position: relative;
	cursor: pointer;
}
.drop-down__list {
	display: none;
	padding: 5px;
	background-color: #aaa;
	position: absolute;
	top: 15px;
	right: 0;
	list-style-type: none;
}
.drop-down__link {
	text-decoration: none;
	font-size: 14px;
	color: #222;
}
.site-nav__item--drop:hover .drop-down__list {
	display: block;
}zzzz
.site-nav__item-text,
.site-nav__item-icon {
	font-size: 16px;
}
.site-nav__item-text {
	margin-right: 5px;
}
